@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Europa";
  src:
    url("@/assets/fonts/Europa-Regular.ttf") format("truetype"),
    url("@/assets/fonts/Europa-Bold.ttf") format("truetype");
}

* {
  font-family: "Europa", sans-serif;
  font-size: 16px;
}
